.gallery{
    width: 100%;
    height: 352px;
    border-radius: 4px;
    overflow: hidden;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
}